@page "/printer"

<h3>Printing Options</h3>

<div>
    <label>
        <input type="radio" name="PrinterType" @onchange="@(()=>{HandlePrinterTypeChange("SerialPort");})"> Serial Port Printer
    </label>
    <br />
    <label>
        <input type="radio" name="PrinterType" @onchange="@(()=>{HandlePrinterTypeChange("Network");})"> Network Printer
    </label>
</div>

@if (_selectedPrinterType == "SerialPort")
{
    <SerialPortPrinterComponent />
} 
else if (_selectedPrinterType == "Network")
{
    <NetworkPrinterComponent />
}

@code {
    private string _selectedPrinterType;

    private void HandlePrinterTypeChange(string type)
    {
        _selectedPrinterType = type;
    }
}
